# 01 : Menyertakan Prefix dan Suffix pada Seluruh Kolom Data Frame

In [ ]:
2273010 - Hana Saputri

In [ ]:
Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

In [ ]:
Persiapan Data Frame

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  9  1  3  1  6
1  9  6  7  4  6
2  9  2  9  8  6
3  3  9  5  1  9
4  3  6  8  1  1

In [3]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [ ]:
Menyertakan Prefix Kolom

In [4]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        9        1        3        1        6
1        9        6        7        4        6
2        9        2        9        8        6
3        3        9        5        1        9
4        3        6        8        1        1

In [ ]:
Menyertakan Suffix Kolom

In [5]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        9        1        3        1        6
1        9        6        7        4        6
2        9        2        9        8        6
3        3        9        5        1        9
4        3        6        8        1        1