# 4 Pemilihan kolom (columns selection) pada Data Frame berdasarkan tipe data

In [ ]:
2273010 - Hana Saputri

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df['bil_pecahan'] = df['bil_pecahan'].astype('float')

df

   bil_pecahan  bil_bulat
0         15.0         14
1          5.0         14
2          2.0         11
3         10.0          5
4         13.0         13

In [3]:
df.index = pd.date_range(start='2023-10-01', periods=n_rows, freq='H')

df = df.reset_index()

df['teks'] = list('ABCDE')

df

                index  bil_pecahan  bil_bulat teks
0 2023-10-01 00:00:00         15.0         14    A
1 2023-10-01 01:00:00          5.0         14    B
2 2023-10-01 02:00:00          2.0         11    C
3 2023-10-01 03:00:00         10.0          5    D
4 2023-10-01 04:00:00         13.0         13    E

In [4]:
df.dtypes

index          datetime64[ns]
bil_pecahan           float64
bil_bulat               int32
teks                   object
dtype: object

Memilih kolom bertipe data numerik

In [ ]:
df.select_dtypes(include='number')

In [ ]:
df.select_dtypes(include='float')

In [ ]:
df.select_dtypes(include='int')

Memilih kolom bertipe data string atau object

In [ ]:
df.select_dtypes(include='object')

Memilih kolom bertipe data datetime

In [ ]:
df.select_dtypes(include='datetime')

Memilih kolom dengan kombinasi tipe data

In [ ]:
df.select_dtypes(include=['number', 'object'])