# 44: Menata ulang penempatan kolom pada Data Frame

2273010 - Hana saputri

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  3  1  5  6  8
1  2  3  4  3  8
2  2  6  9  6  8
3  4  2  9  2  6
4  8  1  1  2  2

Menata ulang penempatan kolom pada Data Frame

In [3]:
df[['D', 'C', 'A', 'E', 'B']]

   D  C  A  E  B
0  6  5  3  8  1
1  3  4  2  8  3
2  6  9  2  8  6
3  2  9  4  6  2
4  2  1  8  2  1

In [4]:
df

   A  B  C  D  E
0  3  1  5  6  8
1  2  3  4  3  8
2  2  6  9  6  8
3  4  2  9  2  6
4  8  1  1  2  2

In [5]:
df = df[['D', 'C', 'A', 'E', 'B']]
df

   D  C  A  E  B
0  6  5  3  8  1
1  3  4  2  8  3
2  6  9  2  8  6
3  2  9  4  6  2
4  2  1  8  2  1