# 30: Akses nilai variabel pada query()

In [ ]:
2273010 - Hana Saputri

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   5  17   8   7  19
1  16  14   2   8   5
2   7   4   2   8   9
3  18   2   2  11   6
4  14   9  11   4  19

Akses nilai variabel pada query()

In [3]:
df.query('A > 10')

    A   B   C   D   E
1  16  14   2   8   5
3  18   2   2  11   6
4  14   9  11   4  19

In [4]:
rerata = df['A'].mean()
rerata

12.0

In [5]:
df.query('A > @rerata')

    A   B   C   D   E
1  16  14   2   8   5
3  18   2   2  11   6
4  14   9  11   4  19