# 51: Seleksi baris dengan between()

2273010 - Hana Saputri

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  9  4  4  3  1
1  4  6  9  3  7
2  1  9  6  7  9
3  8  4  6  5  7
4  1  6  1  8  6
5  8  2  8  9  7
6  2  4  9  9  7
7  1  2  3  6  9
8  2  7  6  2  8
9  6  5  6  2  7

Seleksi baris dengan between()

In [3]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
1  4  6  9  3  7
6  2  4  9  9  7
8  2  7  6  2  8

In [ ]:
df[df['A'].between(2, 5, inclusive=False)]