# 17: Resampling pada data deret waktu (time series data)

In [ ]:
2273010 - Hana Saputri

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 365 * 24
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df

C:\Users\ACER\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                     col1  col2
2000-01-01 00:00:00     7     4
2000-01-01 01:00:00    13    14
2000-01-01 02:00:00    12     9
2000-01-01 03:00:00    19     9
2000-01-01 04:00:00    14    18
...                   ...   ...
2000-12-30 19:00:00    12    10
2000-12-30 20:00:00    19    11
2000-12-30 21:00:00     6     4
2000-12-30 22:00:00     9     4
2000-12-30 23:00:00     5    17

[8760 rows x 2 columns]

Resampling data dengan interval monthly

In [3]:
df.resample('M')['col1'].sum().to_frame()

            col1
2000-01-31  7335
2000-02-29  7194
2000-03-31  7573
2000-04-30  7308
2000-05-31  7556
2000-06-30  7185
2000-07-31  7325
2000-08-31  7431
2000-09-30  7017
2000-10-31  7574
2000-11-30  7063
2000-12-31  7015

Resampling data dengan interval daily

In [5]:
df.resample('D')['col1'].sum().to_frame()

            col1
2000-01-01   215
2000-01-02   213
2000-01-03   275
2000-01-04   249
2000-01-05   266
...          ...
2000-12-26   202
2000-12-27   222
2000-12-28   223
2000-12-29   216
2000-12-30   195

[365 rows x 1 columns]