# 18: Membentuk dummy Data Frame

2273010 - Hana Saputri

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Membentuk Data Frame dari Dictionary

In [2]:
pd.DataFrame({'col1':[1, 2, 3, 4], 
              'col2':[5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

Membentuk Data Frame dari Numpy Array

In [3]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[ 7,  4,  3],
       [ 8,  2,  4],
       [11, 11, 16],
       [16, 12, 10],
       [ 5, 10, 13]])

In [4]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0   7   4   3
1   8   2   4
2  11  11  16
3  16  12  10
4   5  10  13

In [ ]:
Membentuk Data Frame dengan memanfaatkan pandas.util.testing

In [5]:
pd.util.testing.makeDataFrame().head()

C:\Users\ACER\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
bmY0vWgrIt -0.166661 -0.237776  1.110270 -0.578767
YQkioupwh2  1.582314 -0.463779 -2.321008 -0.413682
kKmAXeHoH6 -0.443108 -0.613405 -0.687543  1.832154
nx0YPzWT9y  2.218029 -1.702768 -1.044418 -0.825246
J226R8sY7n -0.576262 -0.018790 -0.625278  1.320517

In [6]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [7]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03 -0.405058  1.302393  0.101235  2.141670
2000-01-04  0.436923  0.104487 -1.222301  0.177120
2000-01-05 -0.327639 -1.463282  1.793967  0.065819
2000-01-06 -1.250658  0.224472 -0.011544  0.642268
2000-01-07 -0.200035 -0.045216 -0.163614  1.262133

In [8]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
erTv4k5Ry1  1.020977 -2.263574  0.738123       NaN
7nuK39ofUi -0.986289  0.079188 -0.612617  0.318940
0xTpsZgsmK -0.353829 -1.213371  1.421387 -2.464021
bRWJVOoqjw       NaN  0.233758       NaN -1.373292
TdkQOSZkgM  0.952556  1.722530 -1.428417 -0.755336